a
{
	text-decoration:none;
}

a,a:visited
{
	color:#000;
	background:inherit;
}

body 
{
	margin:0 0 0 0;
	padding:0px;
	font:12px tahoma,ו,sans-serif;
}

.EBJTreeMenu img.s 
{
	cursor:pointer;
	vertical-align:middle;
}

.EBJTreeMenu ul 
{
	padding:0;
}

.EBJTreeMenu li 
{
	list-style:none;
	padding:0;
}

.Closed ul 
{
	display:none;
}

.Child img.s 
{
	background:none;
	cursor:default;
}

#EBJTreeMenu ul 
{
	margin:0 0 0 10px;
}
	
#EBJTreeMenu img.s 
{
	width:34px;
	height:18px;
}
	
#EBJTreeMenu .Opened img.s 
{
	background:url(/images/jsMenu/opened.gif) no-repeat 0 1px;
}
	
#EBJTreeMenu .Closed img.s 
{
	background:url(/images/jsMenu/closed.gif) no-repeat 0 1px;
}
	
#EBJTreeMenu .Child img.s 
{
	background:url(/images/jsMenu/child.gif) no-repeat 13px 2px;
}

#EBJTreeMenu
{
	float:left;
	width:178px;
	border:0px solid #99BEEF;
	color:inherit;
	margin:5px 0px 0px 0px;
	padding:0px;
}

.ViewCode 
{
	clear:both;
	border:1px solid #FFB900;
	background:#FFFFCC;
	color:inherit;
	margin:3px;
	padding:3px;
}

.ViewCode h6 
{
	color:#00f;
}