BODY
{
	text-decoration: none;
	text-decoration: none;
    BACKGROUND: #C5D5B7;
	MARGIN: 0px;
	FONT: 14px/150% "Arial", "Helvetica", "sans-serif";
	SCROLLBAR-FACE-COLOR: #C5D5B7;	
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #C5D5B7;
	SCROLLBAR-ARROW-COLOR: #006600;
	SCROLLBAR-TRACK-COLOR: #999966;
	SCROLLBAR-DARKSHADOW-COLOR: #C5D5B7;
	color: #006600;
	word-break:break-all;
}
table {word-break:break-all;}
TD
{
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
	FONT-SIZE: 9pt;
}
Input
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
	font-family: "Arial", "Helvetica", "sans-serif";
}
Button
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px; 
}
Select
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
A
{
	TEXT-DECORATION: none;
	color: #000000;

}
A:hover
{
	COLOR: #009900;
	text-decoration: underline;

}
.title
{
	background:#96AA82;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}
.border
{
	border: 1px dashed #009900;
}
.tdbg{
	background:#DFE2D6;
	line-height: 120%;
}
.topbg
{
	background:#9DA48E;
	color: #FFFFFF;
	font: normal 14px "TArial", "Helvetica", "sans-serif";
	text-align: center;

}
.bgcolor {
	background-color: #BFC1AE;
}
img {
	border: 0px none;
}
.progress1{
	height: 20px;
	width: 400px;
	border: 1px solid #104a7b;
	text-align: left;
	MARGIN-top:50px;
	margin-bottom: 5px;
}
.progress2{
	height: 20px;
	border: 0px none;
	background-color: #76D769;
	MARGIN: 1px 1px 1px 1px;
	text-align: left;
}
